*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #100126;
  display: flex;
  gap: 50px;
}
#h{
  padding: 20px;
  margin: 30px;
  background: linear-gradient(to right, #100126, #3c246e,#100126);
  box-shadow: 0px 0px 20px 10px #100126;
}
.first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  font-size: 30px;
}
.fa-cloud-sun{
  font-size: 130px;
}
#temp{
  font-size: 80px;
}
#con{
  font-size: 50px;
}
.weather-container{
  max-width: 600px;
  height: 1000px;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  background: linear-gradient( #100126,#1f024a ,#100126);
  border-radius: 50px;
  box-shadow: 0px 0px 20px 10px #442c73;
}
.weather-container h1{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search{
  padding: 30px;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}
.search input{
  padding: 20px 30px;
  border-radius: 10px;
  background: linear-gradient(to right,#100126, #442c73,#100126);
  color: white;
  border: none;
  box-shadow: 5px 5px 10px 0px #100126;
  font-size: 25px;
}
#btn{
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right,#100126, #442c73,#100126);
  color: white;
  box-shadow: 5px 5px 10px 0px #100126;
  font-size: 25px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  padding: 10px;
  margin: 20px;
  background: linear-gradient(to right,#100126, #442c73,#100126);
  color: white;
  box-shadow: 5px 5px 10px 0px #100126;
}
.card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 15px;
  background: linear-gradient(to right,#100126, #442c73,#100126);
  color: white;
  box-shadow: 5px 5px 10px 0px #100126;
  font-size: 25px;
}
.card i,#h i{
  width: 35px;
  color: white;
  font-size: 30px;
  text-shadow: 0px 1px 20px rgb(255, 255, 255);
}